option_settings:
  aws:autoscaling:asg:
    MaxSize: '2'
    MinSize: '1'
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: stage1
  aws:elasticbeanstalk:customoption:
    ELBAlarmLambda: "arn:aws:lambda:us-east-1:418446113410:function:messageStore"
    ELBHealthyHostCount: "1"
    ELBHTTP5xxErrors: "0"


Resources:
  ELBAlarmTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint:
            Fn::GetOptionSetting:
              OptionName: ELBAlarmLambda
              DefaultValue: "arn:aws:lambda:us-east-1:418446113410:function:messageStore"
          Protocol: lambda
  ELBHealthyHostCountAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: { "Fn::Join" : ["", [{ "Ref" : "AWSEBEnvironmentName" }, ": ELB no healthy backend hosts." ]]}
      Namespace: AWS/ELB
      MetricName: HealthyHostCount
      Dimensions:
        - Name: LoadBalancerName
          Value : { "Ref" : "AWSEBLoadBalancer" }
      Statistic: Average
      Period: 300
      EvaluationPeriods: 1
      Threshold: 
        Fn::GetOptionSetting:
          OptionName: ELBHealthyHostCount
          DefaultValue: "1"
      ComparisonOperator: LessThanThreshold
      AlarmActions:
        - Ref: ELBAlarmTopic
      InsufficientDataActions:
        - Ref: ELBAlarmTopic
  ELBHTTP5xBEAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: { "Fn::Join" : ["", [{ "Ref" : "AWSEBEnvironmentName" }, ": HIGH ELB backend HTTP 5xx error rate." ]]}
      Namespace: AWS/ELB
      MetricName: HTTPCode_Backend_5XX
      Dimensions:
        - Name: LoadBalancerName
          Value : { "Ref" : "AWSEBLoadBalancer" }
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 
        Fn::GetOptionSetting:
          OptionName: ELBHTTP5xxErrors
          DefaultValue: "0"
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - Ref: ELBAlarmTopic
      InsufficientDataActions:
        - Ref: ELBAlarmTopic