option_settings:
  aws:autoscaling:asg:
    MaxSize: '2'
    MinSize: '1'
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: stage1
  aws:elasticbeanstalk:customoption:
    ELBAlarmLambda: "arn:aws:lambda:us-east-1:418446113410:function:messageStore"
    AppELBHealthyHostCount: "1"
    AppELBHTTP5xxErrors: "0"

Resources:
  ELBAlarmTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint:
            Fn::GetOptionSetting:
              OptionName: ELBAlarmLambda
              DefaultValue: "arn:aws:lambda:us-east-1:418446113410:function:messageStore"
          Protocol: lambda
  ELBHealthyHostCountAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: { "Fn::Join" : ["", [{ "Ref" : "AWSEBEnvironmentName" }, ": APP ELB no healthy backend hosts." ]]}
      Namespace: AWS/ApplicationELB
      MetricName: HealthyHostCount
      Dimensions:
        - Name: LoadBalancerName
          Value : { "Ref" : "AWSEBV2LoadBalancer" }
      Statistic: Average
      Period: 60
      EvaluationPeriods: 1
      Threshold: 
        Fn::GetOptionSetting:
          OptionName: AppELBHealthyHostCount
          DefaultValue: "1"
      ComparisonOperator: LessThanThreshold
      AlarmActions:
        - Ref: ELBAlarmTopic
      #InsufficientDataActions:
        - Ref: ELBAlarmTopic
  ELBHTTP5xxAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: { "Fn::Join" : ["", [{ "Ref" : "AWSEBEnvironmentName" }, ": HIGH APP ELB backend HTTP 5xx error rate count." ]]}
      Namespace: AWS/ApplicationELB
      MetricName: HTTPCode_ELB_5XX_Count 
      Dimensions:
        - Name: LoadBalancerName
          Value : { "Ref" : "AWSEBV2LoadBalancer" }
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 
        Fn::GetOptionSetting:
          OptionName: AppELBHTTP5xxErrors
          DefaultValue: "0"
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - Ref: ELBAlarmTopic
      #InsufficientDataActions:
        - Ref: ELBAlarmTopic
